@model TodoListClient.Models.Todo

@{
    ViewData["Title"] = "Details";
    var todoId = Model.Id;
}

<h2>ToDo Details</h2>

<p>
    @Html.ActionLink("Create","Create") | 
    @Html.ActionLink("Back to List", "Index") | 
    @Html.ActionLink("Edit", "Edit", new { id = todoId }) | 
    @Html.ActionLink("Delete", "Delete", new { id = todoId })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayFor(model => model.Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Owner)
            </td>
            <td>
                @Html.DisplayFor(model => model.Title)
            </td>
        </tr>
    </tbody>
</table>
